{% extends 'base.html' %}
{% load static %}
{% block title %}تغییر رمز | طرفداری{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/change_password.css' %}">
{% endblock %}
{% block body %}
    {# block form errors #}
    {% if form.errors %}
        <div id="form-errors" class="container my-3">
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {# endblock form errors #}
    {# block tabs #}
    {% include 'accounts/base_profile_tabs.html' %}
    {# endblock tabs #}
    {# block main #}
    <section id="main" class="my-3">
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="py-4">
                            <label>{{ form.old_password.label }}</label>
                            {{ form.old_password }}
                            <div id="reset-password">
                                <a href="{% url 'accounts:password_reset' %}">درخواست کلمه عبور جدید</a>
                            </div>
                        </div>
                        <div class="py-2">
                            <label>{{ form.new_password1.label }}</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="py-2">
                            <label>{{ form.new_password2.label }}</label>
                            {{ form.new_password2 }}
                        </div>
                        <div class="py-2" id="form-help-text">
                            <p class="pb-3" style="color: #474f57">برای قوی‌تر کردن کلمه عبور خود:</p>
                            {{ form.new_password1.help_text }}
                        </div>
                        <div class="py-3">
                            <button type="submit">ارسال</button>
                        </div>
                    </form>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
    </section>
    {# endbock main #}
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        document.querySelector('#tabs ul li:nth-child(5)').className = 'px-2 active'
    </script>
{% endblock %}