{% extends 'base.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}
{% block body %}
    {% if form.errors %}
    <div id="form-errors" class="container my-3">
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <section id="tabs" class="container my-3 px-0">
        <ul class="d-flex flex-row">
            <li class="px-2"><a href="{% url 'accounts:register' %}">ایجاد اکانت جدید</a></li>
            <li class="px-2 active"><a href="{% url 'accounts:login' %}">ورود</a></li>
            <li class="px-2"><a href="">درخواست کلمه عبور جدید</a></li>
        </ul>
    </section>
    <section id="page-user" class="container my-3">
        <div class="row">
            <div class="col-6 text-center">
                <p class="pt-3 fs-5">عضو جدید هستید؟</p>
                <p class="text-muted">برای پیوستن به طرفداری عضو شوید.</p>
                <button class="w-50 py-3">عضویت در طرفداری</button>
                <p class="w-75 mx-auto mt-3">پس از ثبت نام میتوانید روی مطالب نظر دهید، در شبکه اجتماعی فعالیت کنید و از
                    امکانات دیگر
                    طرفداری استفاده کنید.</p>
            </div>
            <div class="col-6 text-center">
                <p class="pt-3 fs-5">عضو طرفداری هستید؟
                </p>
                <p class="text-muted">با استفاده از نام کاربری و رمز عبور خود وارد شوید.
                </p>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="row pb-3">
                            <div class="col-4">
                                <p>{{ field.label }}</p>
                            </div>
                            <div class="col-8">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-8 offset-4">
                            <button type="submit" class="btn-orange">ورود</button>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-8 offset-4 text-start">
                        <a href="#" class="forgot-password">رمز عبور خود را فراموش کرده‌اید؟</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
