{% extends 'base.html' %}
{% load static %}
{% block title %}تغییر رمز عبور | طرفداری{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset.css' %}">
{% endblock %}
{% block body %}
{# block form errors #}
    {% if form.errors %}
        <div id="form-errors" class="container my-3">
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{# endblock form errors #}
{#  block tabs  #}
    <section id="tabs" class="container my-3 px-0">
        <ul class="d-flex flex-row">
            <li class="px-2"><a href="{% url 'accounts:register' %}">ایجاد اکانت جدید</a></li>
            <li class="px-2"><a href="{% url 'accounts:login' %}">ورود</a></li>
            <li class="px-2 active"><a href="{% url 'accounts:password_reset' %}">درخواست کلمه عبور جدید</a></li>
        </ul>
    </section>
{# endblock tabs #}
{# block password reset form #}
    <section id="password-reset-form" class="pb-3">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center">
                    <p class="fs-5 pt-3">با استفاده از شماره موبایل</p>
                    <p class="text-muted">رمز عبور جدید به شماره موبایل شما پیامک خواهد شد.</p>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row pb-3">
                                <div class="col-4">شماره موبایل</div>
                                <div class="col-8">{{ form.email }}</div>
                            </div>
                        {% endfor %}
                        <div class="row pb-3">
                            <div class="col-8 offset-4">
                                <button type="submit">ارسال رمز جدید</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6 text-center">
                    <p class="fs-5 pt-3">با استفاده از ایمیل</p>
                    <p class="text-muted">دستورالعمل بازیابی رمز عبور به ایمیل شما ارسال خواهد شد.</p>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row pb-3">
                                <div class="col-4">ایمیل</div>
                                <div class="col-8">{{ form.email }}</div>
                            </div>
                        {% endfor %}
                        <div class="row pb-3">
                            <div class="col-8 offset-4">
                                <button type="submit">ارسال</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
    {# endblock password reset form #}
{% endblock %}