{% extends 'base.html' %}
{% load static %}
{% block title %}تغییر رمزعبور | طرفداری{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_confirm.css' %}">
{% endblock %}
{% block body %}
    {# block form errors #}
    {% if form.errors %}
        <div id="form-errors" class="container my-3">
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {# endblock form errors #}
    {# block password reset form #}
    <section id="password-reset-form" class="pb-3">
        <div class="container">
            <div class="row">
                <div class="col-6 text-center">
                    <h3 class="py-3">تغییر رمزعبور حساب طرفداری</h3>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row py-3">
                                <div class="col-4">
                                    {{ field.label }}
                                </div>
                                <div class="col-8">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row py-3">
                            <div class="col-8 offset-4">
                                <button type="submit">تغییر رمزعبور</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-6 text-center">
                    <div id="help-text-form">
                        <h4 class="py-3">هنگام انتخاب رمز عبور جدید به نکات زیر توجه کنید</h4>
                        <ul>
                            {{ form.new_password1.help_text }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# endblock password reset form #}
{% endblock %}