{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.full_name }} | طرفداری{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'accounts/css/profile.css' %}">
    <style>
        {% if user.background_image %}
            body {
                background: url({{ user.background_image.url }}) no-repeat center center fixed;
                background-size: cover;
            }
        {% endif %}

        i.tarafdari-icons, i.update-icon, i.follow-icon {
            background-image: url({% static 'defaults/Tarafdari-icons.png' %});
            background-repeat: no-repeat;
        }
    </style>
{% endblock %}
{% block body %}
    {# block tabs #}
    <section id="tabs" class="container my-3">
        <ul class="d-flex flex-row">
            <li class="px-2 active"><a href="{{ user.get_absolute_url }}">مشاهده</a></li>
            <li class="px-2"><a href="">استاتوس ها</a></li>
            {% if is_owner %}
                <li class="px-2"><a href="">مسدود ها</a></li>
                <li class="px-2"><a href="">ویرایش پروفایل</a></li>
                <li class="px-2"><a href="">تغییر رمز</a></li>
                <li class="px-2"><a href="">فالو ریکوئست ها</a></li>
                <li class="px-2"><a href="">پیام های خصوصی</a></li>
                <li class="px-2"><a href="">تایید موبایل</a></li>
            {% endif %}
        </ul>
    </section>
    {# endblock tabs #}
    {# block page user #}
    <div id="page-user" class="pb-4">
        <div class="container">
            <div id="cover-image" style="position: relative">
                <div id="item">
                    {% if user.cover_image %}
                        <img src="{{ user.cover_image.url }}" width="1050" height="250">
                    {% else %}
                        <img src="{% static 'defaults/cover.jpg' %}" width="1050" height="250">
                    {% endif %}
                </div>
                <span class="user-picture">
                <a href="{{ user.get_absolute_url }}" title="مشاهده پروفایل کاربر">
                    {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}" width="128" height="128">
                    {% else %}
                        <img src="{% static 'defaults/avatar-default.png' %}" width="128" height="128">
                    {% endif %}
                </a>
            </span>
            </div>
            <div id="tools" class="d-flex justify-content-between">
                <div id="tools-1" class="d-flex flex-row carousel">
                    <h2 class="status">
                        <a href="{{ user.get_absolute_url }}">{{ user.full_name }}</a>
                        <i class="tarafdari-icons"></i>
                    </h2>
                    <div>
                        {% if is_owner %}
                            <a class="update" style="cursor: pointer"><i class="update-icon"></i>ویرایش پروفایل</a>
                        {% else %}
                            <a class="follow-button"><i class="follow-icon"></i>
                                {% if is_followed %} توقف دنبال کردن {% else %} دنبال کن {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div id="tools-2">
                    <a href="">آخرین مطالب</a>
                    <a href="">ویدیو</a>
                    <a href="">موزیک</a>
                    <a href="">تصاویر</a>
                    {% if is_owner %}
                        <a href="">خانه</a>
                    {% else %}
                        <a href="">گزارش</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# endblock pageuser #}
    {# block main #}
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="d-flex flex-column">
                        <div id="bio-section" class="px-3 py-4">
                            {% if user.about_me %}
                                {{ user.about_me|safe }}
                            {% endif %}
                            <div class="history">
                                <i></i>{{ user.last_login }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8"></div>
            </div>
        </div>
    </section>
    {# endblock main #}
{% endblock %}

{% block scripts %}
    {{ is_owner |json_script:'is_owner' }}
    {{ is_followed |json_script:'is_followed' }}
    <script type="text/javascript">
        const is_owner = JSON.parse(document.getElementById('is_owner').textContent)
        let is_followed = JSON.parse(document.getElementById('is_followed').textContent)
        const unfollow_url = '{% url 'accounts:user_unfollow' user.id %}'
        const follow_url = '{% url 'accounts:user_follow' user.id %}'
    </script>
    <script type="text/javascript" src="{% static 'accounts/js/profile.js' %}">
    </script>
{% endblock %}