#tabs {
    background-color: #474f57;
    color: #fff;

}

#tabs div {
    display: flex;
    flex-direction: row;
}
#tabs div a {
    display: block;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 0;
}
#page-user {
    background-color: #fff;
    color: #474f57;
}
#page-user p {
    color: #474f57 !important;
}

#page-user button {
    background-color: #27bcc9;
    color: #fff;
    border: none;
    border-radius: 5px;
}

form input{
    width: 100%;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    direction: ltr;
    text-align: center;
}

form button {
        width: 100%;
    line-height: 44px;
    border: none;
    outline: none;
    background-color: #ff9b00 !important;
    color: #fff;
}

.forgot-password {
    margin: 0 30% 0 0;
    line-height: 44px;
    color: #8f8f8f;
    text-align: right;
}