#form-errors {
    background-color: #fef5f1;
    color: #8c2e0b;
    background-position: 99% 8px;
    padding: 10px 50px 10px 10px;
    border: 1px solid #ed541d;
}

#password-reset-form div.container {
    background-color: #fff !important;
}

#password-reset-form p {
    color: #474f57 !important;
}

#help-text-form ul {
    text-align: right;
    list-style: none;
}

#help-text-form ul li {
    padding-top: 10px;
    color: red;
}

form input {
    width: 100%;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    direction: ltr;
    text-align: center;
}

form button {
    width: 100%;
    line-height: 44px;
    border: none;
    outline: none;
    background-color: #ff9b00 !important;
    color: #fff;
    border-radius: 5px;
}